---
title: 'Pixel Punch: A Vox Media Design Battle'
---

<div class="m-section">
  <div class="m-section-contents">
    <h1>Contestants</h1>
    <div class="m-section__participants">
      <div class="photo"><%= image_tag 'avatars/dan.jpg' %></div>
      <h2>Dan Rader</h2>
      <a href="http://www.twitter.com/danraderdesign">@danraderdesign</a>
      <p>Designer, Deloitte Digital</p>
      <p><strong>Favorite scary movie:</strong> The Shining</p>
    </div>
    <div class="m-section__participants">
      <div class="photo"><%= image_tag 'avatars/olivia.jpg' %></div>
      <h2>Olivia Cheng</h2>
      <a href="http://www.twitter.com/heyits0livia">@heyits0livia</a>
      <p>Creative Technologist, iStrategyLabs</p>
      <p><strong>Favorite scary movie:</strong> The Nightmare Before Christmas</p>
    </div>
    <div class="m-section__participants">
      <div class="photo"><%= image_tag 'avatars/stephanie.jpg' %></div>
      <h2>Stephanie Stamm</h2>
      <a href="http://www.twitter.com/sestamm">@sestamm</a>
      <p>Senior News Artist, National Journal</p>
      <p><strong>Favorite scary movie:</strong> American Psycho</p>
    </div>
    <div class="m-section__participants">
      <div class="photo"><%= image_tag 'avatars/ross.jpg' %></div>
      <h2>Ross Nover</h2>
      <a href="http://www.twitter.com/rosscott">@rosscott</a>
      <p>Co-founder, Friendly Design Co</p>
      <p><strong>Favorite scary movie:</strong> Evil Dead 2</p>    </div>
    <div class="m-section__participants">
      <div class="photo"><%= image_tag 'avatars/emily.jpg' %></div>
      <h2>Emily Unroe</h2>
      <a href="http://www.twitter.com/emilyunroe">@emilyunroe</a>
      <p>Senior Design Maven, Track Maven</p>
      <p><strong>Favorite scary movie:</strong> American Psycho</p>
    </div>
  </div>
</div>
