---
title: 'Pixel Punch: A Vox Media Design Battle'
---

<div class="l-page-wrap">
  <div class="m-container">
    <%= link_to '', 'index.html', :class => 'm-link home'  %>
    <%= link_to 'A', 'index.html', :class => 'm-link about'  %>
    // tbr when I find out what these names are
    <%= link_to 'C', 'index.html', :class => 'm-link c'  %>
    <%= link_to 'J', 'index.html', :class => 'm-link j'  %>
    <%= link_to 'S', 'index.html', :class => 'm-link s'  %>
    <%= link_to 'T', 'index.html', :class => 'm-link t'  %>

  </div>
</div>