---
title: 'Pixel Punch: A Vox Media Design Battle'
---
<%= link_to '', 'index.html', :class => 'm-link home'  %>
<%= link_to 'A', 'about.html', :class => 'm-link about'  %>
<%= link_to 'C', 'contestants.html', :class => 'm-link contestants'  %>
<%= link_to 'J', 'judges.html', :class => 'm-link judges'  %>
<%#= link_to 'S', 'sponsors.html', :class => 'm-link sponsors'  %>
<%#= link_to 'T', 'tickets.html', :class => 'm-link tickets'  %>

<%= partial "partials/_svg-pp__logo" %>
<ul class="m-date">
  <li>October 22, 2015</li>
  <li>7PM - 10PM</li>
  <li>Vox Media DC HQ</li>
</ul>