---
title: 'Pixel Punch: A Vox Media Design Battle'
---
<%= link_to 'home', 'index.html', :class => 'm-link home'  %>
<%= link_to 'about', 'about.html', :class => 'm-link about'  %>
<%= link_to 'contestants', 'https://docs.google.com/a/voxmedia.com/forms/d/1hpWjoxxKU_FpP0m1PuIk9sxdBiuyM2l-qSM_xGJIBo4/viewform', :class => 'm-link contestants', :target => "_blank"  %>
<%= link_to 'judges', 'https://docs.google.com/a/voxmedia.com/forms/d/1_E8haJeVMI0Qx_3QdGIIHfSZR6PCvugAZ6VVa7GzvRo/viewform', :class => 'm-link judges', :target => "_blank"  %>
<%#= link_to 'sponsors', 'sponsors.html', :class => 'm-link sponsors'  %>
<%#= link_to 'tickets', 'tickets.html', :class => 'm-link tickets'  %>

<%= partial "partials/_svg-pp__logo" %>
<ul class="m-date">
  <li>October 22, 2015</li>
  <li>7PM - 10PM</li>
  <li>Vox Media DC HQ</li>
</ul>